Host github-business
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_business
  IdentitiesOnly yes

Host github-private
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_private
  IdentitiesOnly yes
